<% provide(:title, "Top") %>


<section class="contents hero hero-body is-warning is-bold">
  <div class="container">
    <div class="columns">
      <div class="column has-text-centered">
        <div class="top-title">Bucket Posts</div>
        <p>
          〜死ぬまでにやりたいことをシェアしよう〜
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-md">
        <p>・筋トレの結果をシャアして<br>継続することが楽しめるアプリです。</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md">
        <p>・筋トレの結果をシェア、記録する</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md">
        <p>・楽しく継続する！これだけ！</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <%= link_to "新規登録", new_user_registration_path, class: "button is-primary is-light" %>
      </div>
      <div class="col-md-4 offset-md-4">
        <%= link_to "かんたんログイン", "#", class: "button is-primary is-light" %>
      </div>
    </div>

</section>