<% provide(:title, "Top") %>

<div class="contents mx-auto border border-success">
  <div class="container">
    <div class="row">
      <div class="col-md text-center top-title">
        エントレって何？
      </div>
    </div>
    <div class="row">
      <div class="col-md">
        <p>・筋トレの結果をシャアして<br>継続することが楽しめるアプリです。</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md">
        <p>・筋トレの結果をシェア、記録する</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md">
        <p>・楽しく継続する！これだけ！</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <%= link_to "新規登録", new_user_registration_path, class: "btn btn-success btn-block" %>
      </div>
      <div class="col-md-4 offset-md-4">
        <%= link_to "かんたんログイン", "#", class: "btn btn-primary" %>
      </div>
    </div>

  </div>

  <div class="container">
  </div>