<% provide :title, "マイページ" %>


<section class="section">
  <div class="container">
    <div class="columns is-centered is-mobile">
      <div class="media-left">
        <div class="column is-5">
          <figure class="image is-128x128">
            <% if @user.image? %>
            <%= image_tag @user.image.url, class: "is-rounded is-inline user-image" %>
            <% end %>
          </figure>
        </div>
      </div>
      <div class="is-inline">
        <div class="column is-three-quarters">
          <div class="user-item">
            <%= @user.name %>
          </div>
        </div>
        <div class="column is-three-quarters">
          <%= link_to  "プロフィール編集", edit_user_registration_path, class: "button is-dark" %>
        </div>
        <div class="column user-profile" style="max-width: 400px; max-height: 140px; overflow: hidden;">
          <%= @user.profile %>
        </div>
      </div>
    </div>
  </div>
</section>